<section>
    <form [formGroup]="form" (submit)="enviarVenta()" class="form-container">
        <div class="vehiculo_container">
            <label for="input_vehiculo">Vehiculo</label>
            <select name="vehiculo" id="select-vehiculo" formControlName="idVehiculo">
                <option disabled>--- Seleccione una opción ---</option>
                @if (vehiculos()) {
                @for (vehiculo of vehiculos(); track vehiculo.id) {
                <option [value]="vehiculo.id">{{vehiculo.marca}} {{vehiculo.modelo}} | {{vehiculo.patente}}</option>
                }
                }@else {
                <option disabled>Cargando vehiculos...</option>
                }

            </select>
        </div>

        <div>
            <div class="input-con-flecha">
                <label for="input_cliente">Cliente</label>
                <div class="div-input-cliente">
                    <input type="text" placeholder="Buscar cliente" [value]="busqueda()"
                        (input)="busqueda.set($any($event.target).value)" >

                    <svg (click)="toggleMenu()" class="flecha" [class.abierto]="!menuAbierto" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </div>

            </div>

            @if(menuAbierto){
            <div class="menuAbierto">
                @if (clientesFiltrados()) {
                <ul>
                    @for (cliente of clientesFiltrados(); track cliente.id) {
                    <li (click)="seleccionarCliente(cliente)">
                        <span>{{cliente.nombre}} {{cliente.apellido}} | {{cliente.dni}}</span>
                    </li>
                    }
                </ul>
                }@else{
                <option disabled>Cargando clientes...</option>
                }
            </div>
            }

        </div>

        <div>
            <label for="input_precio">Precio de venta</label>
            <input type="number" formControlName="precioVenta" (click)="menuAbierto=false">
        </div>

        <div>
            <button type="submit" [disabled]="form.invalid">Vender</button>
        </div>
    </form>
</section>