<section>
    <div class="form-wrapper">
        <button type="button" class="button_volver" (click)="volver()">Atras</button>
        <article class="form-container">
            <form [formGroup]="formModifyUser" (submit)="modify()">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input formControlName="name" id="name" type="text">

                    @if(getError('name')){
                        <small>{{getError('name')}}</small>
                    }
                </div>

                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input formControlName="lastName" id="lastName" type="text">

                    @if(getError('lastName')){
                        <small>{{getError('lastName')}}</small>
                    }
                </div>

                <div class="form-group">
                    <label for="desplegable">Rol</label>
                    <select formControlName="rol" id="desplegable" name="desplegable">
                        <option disabled>--- Seleccione una opcion ---</option>
                            @for (rol of roles(); track rol.id) {
                        <option [value]="rol.id">{{rol.name}}</option>
                            }
                    </select>

                    @if(getError('rol')){
                        <small>{{getError('rol')}}</small>
                    }
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" id="email" type="email">

                    @if(getError('email')){
                        <small>{{getError('email')}}</small>
                    }
                </div>

                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input formControlName="dni" id="dni" type="number" minlength="8" maxlength="8">

                    @if(getError('dni')){
                        <small>{{getError('dni')}}</small>
                    }
                </div>

                <div class="form-group">
                    <label for="contrasenia">Contraseña</label>
                    <input formControlName="contrasenia" type="password">

                    @if(getError('contrasenia')){
                        <small>{{getError('contrasenia')}}</small>
                    }
                </div>

                <div class="form-actions">
                    <button [disabled]="formModifyUser.invalid" type="submit">Modificar Usuario</button>
                </div>
            </form>
        </article>
    </div>

</section>