section {
    margin: 20px;
}

.button_volver {
    align-self: flex-start;
    background-color: transparent;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 0.95em;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.button_volver:hover {
    background-color: white;
    padding: 10px;
}

#grilla {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(185, 185, 185);
    margin: 0 0 20px 0;
}

button[type="submit"] {
    padding: 8px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
}