<section>
    <button type="button" class="button_volver" (click)="volver()">
      Atras
    </button>
    
    <h2>Lista de Vehiculos</h2>

    <input type="text" [value]="filtro()" (input)="filtro.set($any($event.target).value)" placeholder="Ingrese el nombre del auto" >

    <div id="grilla">
        @for (vehiculoV of vehiculosFiltrados(); track vehiculoV.id) {
        <app-card-vehiculo [vehiculo]="vehiculoV" (vehiculoEliminado)="eliminarVehiculoLista($event)"></app-card-vehiculo>
        }
    </div>

</section>