<div class="modal-backdrop" (click)="cerrar()"></div>

<section class="modal-container">
    <h2>Nuevo Encargado</h2>
    <form [formGroup]="formularioEncargado" (submit)="enviar()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" id="nombre" type="text">

            <div class="errorContainer">
                @if (getError('nombre')) {
                <small>{{getError('nombre')}}</small> }
            </div>
        </div>

        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input formControlName="apellido" id="apellido" type="text">

            <div class="errorContainer">
                @if (getError('apellido')) {
                <small>{{getError('apellido')}}</small> }
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email">

            <div class="errorContainer">
                @if (formularioEncargado.get('email')?.hasError('emailExists') && formularioEncargado.get('email')?.touched) {
                <small>Este email ya está registrado</small> } @if (getError('email')) {
                <small>{{getError('email')}}</small> }
            </div>
        </div>

        <div class="form-group">
            <label for="dni">DNI</label>
            <input formControlName="dni" id="dni" type="number">

            <div class="errorContainer">
                @if (formularioEncargado.get('dni')?.hasError('dniExists') && formularioEncargado.get('dni')?.touched) {
                <small>Este DNI ya está registrado</small> } @if (getError('dni')) {
                <small>{{getError('dni')}}</small> }
            </div>
        </div>

        <div class="form-group">
            <label for="contrasenia">Contraseña</label>
            <input formControlName="contrasenia" id="contrasenia" type="password">

            <div class="errorContainer">
                @if (getError('contrasenia')) {
                <small>{{getError('contrasenia')}}</small> }
            </div>
        </div>

        <div class="form-actions">
            <button [disabled]="formularioEncargado.invalid" type="submit">Crear encargado</button>
            <button type="button" class="btn-cancel" (click)="cerrar()">Cancelar</button>
        </div>
    </form>
</section>