.div-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid gainsboro;
    padding: 20px;
}

.div-container h2 {
    background-color: #F5F5DC;
    color: #333333;
    padding: 10px;
    border-radius: 6px;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.div-container h3 {
  color: #424242;
  text-align: center;
  margin-bottom: 15px;
}

.div-container p {
  font-size: 1em;
  margin: 6px 0;
}

.precioCompra {
  color: #a0522d; 
}

.precioVenta {
  color: #228b22; 
}

.ganancia{
    font-weight: bold;
    color: rgb(0, 88, 0);
    border-left: 4px solid rgb(0, 88, 0);
    background-color:rgb(228, 255, 224);
    padding: 6px 10px;
    border-radius: 5px;
}