<div class="div-container">
    @if (vehiculo()) {
    <h2>{{vehiculo().marca}} {{vehiculo().modelo}}</h2>
    <h3>{{historialDeVenta()?.fechaVenta}}</h3>

    <p>Cliente: {{cliente().nombre}} {{cliente().apellido}}</p>

    <p class="precioDeCompra">Precio comprado: ${{vehiculo().precioDeCompra}}</p>
    <p class="precioDeVenta">Precio vendido: ${{vehiculo().precioDeVenta}}</p>

    <div class="ganancia" [class]="calcularGanancia(vehiculo().precioDeCompra, vehiculo().precioDeVenta)>0 ? 'gananciaPositiva' : 'gananciaNegativa'">

        <span>{{getResultado(vehiculo().precioDeCompra, vehiculo().precioDeVenta)}}</span>
        <strong> ${{calcularGanancia(vehiculo().precioDeCompra, vehiculo().precioDeVenta)}}</strong>
    </div>
    }@else {
    <p>Cargando el vehiculo...</p>
    }

</div>