<section>
  <article class="form_container">
    <form
      [formGroup]="formularioCrearAuto"
      (ngSubmit)="enviarFormularioCrearAuto()"
    >
      <div class="model">
        <label for="input_model">Modelo</label>
        <input type="text" formControlName="modelo" id="input_model" />
      </div>

      <div class="brand">
        <label for="input_brand">Marca</label>
        <input type="text" formControlName="marca" id="input_brand" />
      </div>

      <div class="year">
        <label for="input_year">Año</label>
        <input
          type="number"
          formControlName="anio"
          min="0"
          max="9999"
          id="input_year"
        />
      </div>

      <div class="patent">
        <label for="input_patent">Patente</label>
        <input type="text" formControlName="patente" id="input_patent" />
      </div>

      <div class="kilometers">
        <label for="input_kilometers">Kilometraje</label>
        <input
          type="number"
          formControlName="kilometros"
          min="0"
          id="input_kilometers"
        />
      </div>

      <div class="description">
        <label for="input_description">Descripción</label>
        <input
          type="text"
          formControlName="descripcion"
          id="input_description"
        />
      </div>

      <div class="engine">
        <label for="input_engine">Motor</label>
        <input type="text" formControlName="motor" id="input_engine" />
      </div>

      <div class="color">
        <label for="input_color">Color</label>
        <input type="text" formControlName="color" id="input_color" />
      </div>

      <div>
        <label for="combustion">Combustion</label>

        <select id="combustion" formControlName="combustion">
          <option [ngValue]="null" disabled>-- Seleccione una opción --</option>

          @if (combustiones(); as types) { 
            @for (combustion of combustiones(); track combustion.id){
          <option [value]="combustion.id">
            {{ combustion.name }}
          </option>
          } } @else {
          <option [ngValue]="null" disabled>
            Cargando Tipos de Combustion...
          </option>
          }
        </select>
      </div>
      <div class="doors">
        <label for="input_doors">Puertas</label>
        <input type="text" formControlName="puertas" id="input_doors" />
      </div>
      <div class="hp">
        <label for="input_hp">Potencia</label>
        <input type="number" formControlName="potencia" min="0" id="input_hp" />
      </div>
      <div>
        <label for="carType">Tipo de Auto</label>

        <select id="carType" formControlName="tipoAuto">
          <option [ngValue]="null" disabled>-- Seleccione una opción --</option>

          @if (tiposAuto(); as types) 
          { @for (tipoAuto of types; track tipoAuto.id){
          <option [value]="tipoAuto.id">
            {{ tipoAuto.name }}
          </option>
          } } @else {
          <option [ngValue]="null" disabled>Cargando Tipos...</option>
          }
        </select>
      </div>

      <div class="price">
        <label for="input_price">Precio</label>
        <input type="number" formControlName="precio" id="input_price" />
      </div>

      <div class="imagenes">
        <label for="input_imagenes">-- Subir Imágenes del Vehículo --</label>
        <input
          type="file"
          id="input_imagenes"
          multiple
          (change)="onFileSelected($event)"
          accept="image/png, image/jpeg, image/webp"
        />
      </div> 

      @if (archivosSeleccionados.length > 0) {
        <div class="preview-container">
          <h4>Vista Previa ({{ archivosSeleccionados.length }} archivos):</h4>
          <div class="miniaturas-grid">
            @for (archivo of archivosSeleccionados; track $index) {
              <div class="file-preview">
                <img [src]="archivo.urlLocal" [alt]="archivo.name" class="miniatura" />
                <span>{{ archivo.name }}</span>
              </div>
            }
          </div>
        </div>
      }


      <div>
        <input [disabled]="formularioCrearAuto.invalid" type="submit" />
      </div>
    </form>
  </article>
</section>
