<section>
    <div class="title_container">
        <h1>Bienvenido a Auto<span class="nova_rojo">Nova</span></h1>
    </div>

    <div class="card_container">
        @if(user.idRol=="1"){
        <app-card-home [titulo]="'Usuarios'" [imagen]="'assets/logoUsuario.png'" [button1]="'Ver Usuarios'" [button2]="'Cargar Usuario'" [rutaButton1]="'/usuarios'" [rutaButton2]="'/usuarios/agregar'"></app-card-home>
        }
        <app-card-home [titulo]="'Vehiculos'" [imagen]="'assets/logoVehiculo.png'" [button1]="'Ver Vehiculos'" [button2]="'Cargar Vehiculo'" [rutaButton1]="'/vehiculos'" [rutaButton2]="'/vehiculos/agregar'"></app-card-home>

        <app-card-home [titulo]="'Talleres'" [imagen]="''" [button1]="'Ver Talleres'" [button2]="'Cargar Talleres'" [rutaButton1]="'/taller'" [rutaButton2]="'/taller/agregar'"></app-card-home>
    </div>
</section>