.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.title_container h1 {
    color: #4B4B4B;
}

.nova_rojo {
    color: red;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 0 10px;
}

@media (max-width:768px) {
    .card_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .title_container{
        height: 20vh;
    }
}

