* {
    font-family: 'Montserrat', sans-serif;
    color: #4B4B4B;
    box-sizing: border-box;
}

body,
:host {
    background-color: #F5F5DC;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 92vh;
    width: 100vw;
    padding: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form_container {
    background-color: #4B4B4B;
    width: 60vw;
    max-width: 900px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button_volver {
    align-self: flex-start;
    background-color: transparent;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 0.95em;
    transition: all 0.3s ease;
}

.button_volver:hover {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tipo_container {
    display: flex;
    gap: 10px;
}

.tipo_container button[type="button"] {
    flex: 1;
    background-color: rgb(0, 162, 255);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.tipo_container button[type="button"]:hover {
    transform: scale(1.01);
    background-color: rgb(0, 129, 204);
}

.input_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.div1_container,
.div2_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

label {
    color: white;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D8C8B6;
    color: #4B4B4B;
    font-size: 1em;
    width: 100%;
    transition: all 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
    padding: 13px;
}

input:focus {
    outline: 2px solid #CC7F6A;
    background-color: #F5F5DC;
}

option {
    background-color: whitesmoke;
}

.button_container {
    margin-top: 20px;
}

button[type="submit"] {
    padding: 10px 25px;
    background-color: #CC7F6A;
    color: #F5F5DC;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d58670;
}

button[disabled] {
    background-color: #d8c8b6;
    color: #4B4B4B;
    cursor: not-allowed;
    opacity: 0.7;
}

@media (max-width:768px) {
    .input_container {
        flex-direction: column;
    }

    .form_container {
        width: 90vw;
    }

}       