<section>

  <div class="form-wrapper">

    <button type="button" class="button_volver" (click)="volver()">
      Atras
    </button>

    <article class="form_container">
      <form [formGroup]="formularioModificarAuto" (submit)="enviar()">
        <div class="input_container">

          <div class="div1_container">
            <div class="brand">
              <label for="input_brand">Marca</label>
              <input type="text" formControlName="marca" id="input_brand" />

              <div class="errorContainer">
                @if (getError('marca')) {
                <small>{{getError('marca')}}</small>
                }
              </div>
            </div>

            <div class="model">
              <label for="input_model">Modelo</label>
              <input type="text" formControlName="modelo" id="input_model" />

              <div class="errorContainer">
                @if (getError('modelo')) {
                <small>{{getError('modelo')}}</small>
                }
              </div>
            </div>

            <div class="year">
              <label for="input_year">Año</label>
              <input type="number" formControlName="anio" min="0" max="9999" id="input_year" />

              <div class="errorContainer">
                @if (getError('anio')) {
                <small>{{getError('anio')}}</small>
                }
              </div>
            </div>

            <div class="patent">
              <label for="input_patent">Patente</label>
              <input type="text" formControlName="patente" id="input_patent" />

              <div class="errorContainer">
                @if (getError('patente')) {
                <small>{{getError('patente')}}</small>
                }
              </div>
            </div>

            <div class="kilometers">
              <label for="input_kilometers">Kilometraje</label>
              <input type="number" formControlName="kilometros" min="0" id="input_kilometers" />

              <div class="errorContainer">
                @if (getError('kilometros')) {
                <small>{{getError('kilometros')}}</small>
                }
              </div>
            </div>

            <div class="description">
              <label for="input_description">Descripción</label>
              <input type="text" formControlName="descripcion" id="input_description" />

              <div class="errorContainer">
                @if (getError('descripcion')) {
                <small>{{getError('descripcion')}}</small>
                }
              </div>
            </div>

            <div class="engine">
              <label for="input_engine">Motor</label>
              <input type="text" formControlName="motor" id="input_engine" />

              <div class="errorContainer">
                @if (getError('motor')) {
                <small>{{getError('motor')}}</small>
                }
              </div>
            </div>
          </div>

          <div class="div2_container">
            <div class="color">
              <label for="input_color">Color</label>
              <input type="text" formControlName="color" id="input_color" />

              <div class="errorContainer">
                @if (getError('color')) {
                <small>{{getError('color')}}</small>
                }
              </div>
            </div>

            <div>
              <label for="combustion">Combustion</label>

              <select id="combustion" formControlName="combustion">
                <option [ngValue]="null" disabled>-- Seleccione una opción --</option>

                @if (combustiones(); as types) {
                @for (combustion of combustiones(); track combustion.id){
                <option [value]="combustion.id">
                  {{ combustion.name }}
                </option>
                } } @else {
                <option [ngValue]="null" disabled>
                  Cargando Tipos de Combustion...
                </option>
                }
              </select>

              <div class="errorContainer">
                @if (getError('combustion')) {
                <small>{{getError('combustion')}}</small>
                }
              </div>
            </div>

            <div class="doors">
              <label for="input_doors">Puertas</label>
              <input type="text" formControlName="puertas" id="input_doors" />

              <div class="errorContainer">
                @if (getError('puertas')) {
                <small>{{getError('puertas')}}</small>
                }
              </div>
            </div>

            <div class="hp">
              <label for="input_hp">Potencia</label>
              <input type="number" formControlName="potencia" min="0" id="input_hp" />

              <div class="errorContainer">
                @if (getError('potencia')) {
                <small>{{getError('potencia')}}</small>
                }
              </div>
            </div>

            <div>
              <label for="carType">Tipo de Auto</label>

              <select id="carType" formControlName="tipoAuto">
                <option [ngValue]="null" disabled>-- Seleccione una opción --</option>

                @if (tiposAuto(); as types)
                { @for (tipoAuto of types; track tipoAuto.id){
                <option [value]="tipoAuto.id">
                  {{ tipoAuto.name }}
                </option>
                } } @else {
                <option [ngValue]="null" disabled>Cargando Tipos...</option>
                }
              </select>

              <div class="errorContainer">
                @if (getError('tipoAuto')) {
                <small>{{getError('tipoAuto')}}</small>
                }
              </div>
            </div>

            <div class="price">
              <label for="input_price">Precio de compra</label>
              <input class="number" type="number" formControlName="precioDeCompra" id="input_price" />

              <div class="errorContainer">
                @if (getError('precioDeCompra')) {
                <small>{{getError('precioDeCompra')}}</small>
                }
              </div>
            </div>

            <div class="price">
              <label for="input_price">Precio de venta</label>
              <input class="number" type="number" formControlName="precioDeVenta" id="input_price" />

              <div class="errorContainer">
                @if (getError('precioDeVenta')) {
                <small>{{getError('precioDeVenta')}}</small>
                }
              </div>
            </div>
          </div>
        </div>
        <div>
          <button [disabled]="formularioModificarAuto.invalid" type="submit">Modificar</button>
        </div>
      </form>
    </article>
  </div>
</section>