<section class="form-container">
    <h2>Cargar Usuario</h2>
    <form [formGroup]="formUser">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" id="name" type="text">
        </div>
        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input formControlName="lastName" id="lastName" type="text">
        </div>
        <div class="form-group">
            <label for="desplegable">Rol</label>
            <select formControlName="rol" id="desplegable" name="desplegable">
                <option value="rol1">ADMIN</option>
                <option value="rol2">EMPLEADO</option>
                <option value="rol3">ENCARGADO TALLER</option>
                <option value="rol4">CLIENTE</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email">
        </div>
        <div class="form-group">
            <label for="dni">DNI</label>
            <input formControlName="dni" id="dni" type="number">
        </div>
        <small>Todos los campos son obligatorios</small>
        <div class="form-actions">
            <button [disabled]="formUser.invalid" type="submit">Crear Usuario</button>
        </div>
    </form>
</section>