section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 92vh;
    width: 100vw;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
}

.detalle_taller {
    background-color: #4B4B4B;
    padding: 40px 35px;
    border-radius: 14px;
    width: 95%;
    max-width: 550px;

    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.35s ease-out;
}

.nombre {
    font-size: 2em;
    font-weight: 600;
    color: #F5F5DC;
    letter-spacing: 0.5px;
}

.direccion,
.especialidad,
.encargado {
    font-size: 1.2em;
    font-weight: 400;
    color: #F5F5DC;
    opacity: 0.9;
}

.detalle_taller button {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #F5F5DC;
    font-size: 1em;
}

.button_volver {
    align-self: flex-start;
    background-color: transparent;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 0.95em;
    transition: all 0.3s ease;
    padding: 10px;
    margin: 10px;
}

.button_volver:hover {
    background-color: white;
}

.modificar {
    background-color: #CC7F6A;
}

.modificar:hover {
    background-color: #d58670;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.eliminar {
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: larger;
    font-weight: 600;
}

.eliminar:hover {
    background-color: #cc5a58;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}