.detalle_taller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px;
    background-color: #f9f9f9;
    border: solid 3px color black;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.eliminar {
    padding: 2px;
}

.eliminar:hover {
    background-color: #bebebe;
}

.button_volver {
    align-self: flex-start;
    background-color: transparent;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 0.95em;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    padding: 10px;
    margin: 10px;
}

.button_volver:hover {
    background-color: white;
}

.eliminar {
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: larger;
    font-weight: 600;
}

.eliminar:hover {
    background-color: rgba(255, 57, 57, 0.774);
}