<section>
    <div class="detalle_taller">
        <h1 class="nombre">{{taller()?.NombreTaller}}</h1>
        <h2 class="direccion">{{taller()?.Direccion}}</h2>
        <h2 class="especialidad">{{especialidad()?.name}}</h2>
        <h2 class="encargado">Encargado: {{encargado()?.nombre}} {{encargado()?.apellido}}</h2>
        <ul class="listaVehiculos">
            <h3>vehiculos en el taller</h3>
            @for (vehiculo of taller()?.Vehiculos; track vehiculo.id) {
                <li>
                    <h3></h3>
                </li>
            }
        </ul>
    </div>
</section>
