<section class="sectionTaller">
    <div class="volverContainer">
        <button type="button" class="button_volver" (click)="volver()">
      Atras
    </button>
    </div>


    <form [formGroup]="formulario" (ngSubmit)="enviar()" class="form-container">
        <div>
            <label for="input_nombre">Nombre del Taller</label>
            <input formControlName="name" type="text" id="input_nombre" />
        </div>

        <div>
            <div class="input-con-flecha">
                <label for="input_cliente">Encargado</label>
                <div class="div-input" [class.input-menu-abierto]="menuAbiertoEncargado">
                    <input type="text" placeholder="Buscar encargado" [value]="busquedaEncargado()" (input)="busquedaEncargado.set($any($event.target).value)" (click)="toggleMenu()">

                    <svg (click)="toggleMenu()" class="flecha" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
                </div>
            </div>

            @if(menuAbiertoEncargado){
            <div class="menuAbierto">
                <ul>
                    <li (click)="abrirModalEncargado()">Agregar encargado +</li>
                    @if (encargadosFiltrados().length) { @for (encargado of encargadosFiltrados(); track encargado.id) {
                    <li (click)="seleccionarEncargado(encargado)" (click)="toggleMenu()">
                        <span>{{encargado.nombre}} {{encargado.apellido}} | {{encargado.dni}} <!--<button type="button">M</button>--></span>
                    </li>
                    } }
                </ul>
            </div>
            }
        </div>

        <div>
            <label for="input_direccion">Direccion del Taller</label>
            <input type="text" formControlName="direccion" id="input_direccion" />
        </div>

        <div>
            <label for="input_especialidad">Especialidad</label>
            <select id="input_especialidad" formControlName="especialidad">
        @for(especialidad of especialidades(); track especialidad.id){
        <option [value]="especialidad.id">{{especialidad.name}}</option>
        }
      </select>
        </div>

        <div class="form-actions">
            <button [disabled]="formulario.invalid" type="submit">Enviar</button>
        </div>
    </form>

    @if (mostrarMenuModal()) {
    <app-modal-encargado (cerrarModal)="cerrarModalEncargado()" (encargadoCreado)="agregarEncargadoALista($event)"></app-modal-encargado>
    }
</section>