.card_user {
    width: 100%;
    height: 14vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    padding: 10px 0;
    border: 1px solid gainsboro;
}

.card_user:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-transform: capitalize;
}

.div-detalles {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.div-botones {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    gap: 10px;
}

h5 {
    text-transform: capitalize;
}

button {
    width: 50%;
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.buttonModificar {
    background-color: rgb(0, 140, 255);
}

.buttonEliminar {
    background-color: red;
}