<section>
    <div>
        <button type="button" class="button_volver" (click)="volver()">Atras</button>
        <article class="form-container">
            <form [formGroup]="formularioClient" (submit)="enviar()">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input formControlName="nombre" id="nombre" type="text">
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input formControlName="apellido" id="apellido" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" id="email" type="email">
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input formControlName="dni" id="dni" type="number">
                </div>
                <small>Todos los campos son obligatorios</small>
                <div class="form-actions">
                    <button [disabled]="formularioClient.invalid" type="submit">Crear Cliente</button>
                </div>
            </form>
        </article>
    </div>
</section>