/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #F5F5DC;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}