<nav>
    <div class="div-nav">
        <img src="assets/logo.png" alt="logoConcesionaria"> @if (userService.obtenerUsuarioEnSesion()) {
        <button (click)="toggleMenu()"><img src="assets/perfil.png" alt="logoPerfil"></button> }
    </div>

    @if(menuOpen){
    <div class="div-menu">
        <ul>
            <li (click)="toggleMenu()"><a routerLink="perfil">Mi perfil</a></li>
            <li (click)="userService.cerrarSesion(); toggleMenu()">Cerrar sesion</li>
        </ul>
    </div>
    }

</nav>