img{
    width: 6%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
