<section>
    <div class="form-wrapper">
        <button type="button" class="button_volver" (click)="volver()">Atras</button>
        <article class="form-container">
            <form [formGroup]="formUser" (submit)="enviar()">
                <div class="name-container">
                    <label for="name">Nombre</label>
                    <input formControlName="name" id="name" type="text">
                </div>
                <div class="lastName-container">
                    <label for="lastName">Apellido</label>
                    <input formControlName="lastName" id="lastName" type="text">
                </div>
                <div class="role-container">
                    <label for="desplegable">Rol</label>
                    <select formControlName="rol" id="desplegable" name="desplegable">
                        <option disabled>--- Seleccione una opcion ---</option>
                            @for (rol of roles(); track rol.id) {
                        <option [value]="rol.id">{{rol.name}}</option>
                            }
                    </select>
                </div>
                <div class="email-container">
                    <label for="email">Email</label>
                    <input formControlName="email" id="email" type="email">
                </div>
                <div class="dni-container">
                    <label for="dni">DNI</label>
                    <input formControlName="dni" id="dni" type="number">
                </div>
                <div class="contrasenia-container">
                    <label for="contrasenia">Contraseña</label>
                    <input formControlName="contrasenia" type="password">
                </div>
                <small>Todos los campos son obligatorios</small>
                <div class="form-actions">
                    <button [disabled]="formUser.invalid" type="submit">Crear Usuario</button>
                </div>
            </form>
        </article>

    </div>
</section>