* {
    font-family: 'Montserrat', sans-serif;
    color: #4B4B4B;
    box-sizing: border-box;
}

body,
:host {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.form_container,
.form-container>form {
    background-color: #4B4B4B;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.button_volver {
    align-self: flex-start;
    background-color: transparent;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 0.95em;
    transition: all 0.3s ease;
}

.button_volver:hover {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    color: white;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #D8C8B6;
    color: #4B4B4B;
    font-size: 1em;
    width: 100%;
    transition: all 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    outline: 2px solid #CC7F6A;
    background-color: #F5F5DC;
}

select{
    padding: 14px 0;
}

option {
    background-color: whitesmoke;
}

button[type="submit"] {
    padding: 10px 25px;
    background-color: #CC7F6A;
    color: #F5F5DC;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d58670;
}

button[disabled] {
    background-color: #d8c8b6;
    color: #4B4B4B;
    cursor: not-allowed;
    opacity: 0.7;
}

.activado {
    color: red;
}

small {
    color: #FF6347;
    margin-top: 5px;
    font-size: 0.8em;
    width: 100%;
}

@media (max-width: 768px) {
    .input_container {
        flex-direction: column;
    }

    .form_container,
    section.form-container>form {
        width: 90%;
        padding: 20px;
    }
}